/* for syntax test */

QPushButton { color: red /* comment
block */ }
/* comment
block
*/
QPushButton { color: red } /* comment block */

* {
    color: red
}

QPushButton[flat="false"] {
    color: red
}

.QPushButton {
    color: red
}

QPushButton#okButton {
    color: red
}

QDialog QPushButton {
    color: red
}

QDialog > QPushButton {
    color: red
}

QComboBox::down-arrow {
    image: url(down_arrow.png);
}
QComboBox::down-arrow:pressed {
    position: relative;
    top: 1px; left: 1px;
}

QPushButton:hover:!pressed { color: blue; }

QMessageBox {
    dialogbuttonbox-buttons-have-icons: true;
    dialog-ok-icon: url(ok.svg);
    dialog-cancel-icon: url(cancel.png),
                        url(grayed_cancel.png) disabled;
}